header {
    background-color: #333; 
    text-align: center;    
}

.nav-container {
    display: flex;
    justify-content: space-evenly; 
    padding: 0;
    list-style: none; 
}

.nav-item {
    text-decoration: none;
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 5px;
    text-align: center;
}

header nav {
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;          
    display: flex;                   
    justify-content: center;        
    margin: 0;
    padding: 0;
    gap: 20px;           
}

header .nav-item {
    text-decoration: none;          
    color: #ffffff;               
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

header .nav-item:hover {
    background-color: #575757;  
    color: #ffffff;           
    border-radius: 5px;
}

header .nav-item.active {
    background-color: #28a745; 
    color: white;             
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.6); 
}
